.place-order-container {
    padding: 20px 10px;

    .place-order-inner {
        .delivery-title {
            margin-bottom: 20px;
        }

        form {
            .form-container {

                .form-inner {
                    .doubles-container {
                        display: flex;
                        gap: 10px;
                    }

                    input {
                        padding: 10px;
                        width: 100%;
                    }
                }

                .cart-total-container {
                    margin-top: 100px;

                    .cart-total-title {
                        font-size: 20px;
                        padding: 10px 0;
                    }

                    .subtotal-container {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0;
                        border-bottom: 1px solid #ccc;
                    }

                    .shipping-container {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0;
                        border-bottom: 1px solid #ccc;
                    }

                    .grand-total-container {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0;
                        border-bottom: 1px solid #ccc;
                    }

                    .order-btn-container {
                        margin-top: 40px;

                        .checkout-btn {
                            width: 200px;
                            padding: 15px;
                            background-color: tomato;
                            color: #fff;
                            font-size: 15px;
                            font-weight: bold;
                            border: 0;
                            cursor: pointer;
                        }
                    }

                    .payment-method-container {
                        margin-top: 50px;

                        .cash-payment {
                            border: 1px solid #ccc;
                            width: 310px;
                            padding: 10px;

                            span {
                                margin-left: 30px;
                            }
                        }

                        .stripe-payment {
                            border: 1px solid #ccc;
                            padding: 10px;
                            width: 310px;

                            img {
                                width: 40px;
                                margin-left: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 800px) {
        padding: 30px 50px;
    }

    @media (min-width: 1000px) {
        padding: 30px 100px;

        .place-order-inner {
            .delivery-title {
                font-size: 30px;
                margin-bottom: 20px;
            }

            form {
                .form-container {
                    display: flex;
                    gap: 200px;

                    .cart-total-container {
                        margin-top: -15px;

                        .cart-total-title {
                            font-size: 25px;
                        }

                        .order-btn-container {
                            margin-top: 40px;
                        }

                        .payment-method-container {

                            .payment-method-title {
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}