.cart-items-container {
    padding: 20px 0;

    .cart-items-inner {

        .cart-total-items-container {

            .cart-total-items-inner {
                padding: 10px 0;
                display: grid;
                grid-template-columns: 0.3fr 1.5fr 0.5fr 0.1fr 0.1fr 0.5fr 0.5fr 0fr;
                align-items: center;
                gap: 5px;
                border-bottom: 1px solid #ccc;

                .cart-item-pic {
                    width: 40px;
                }

                .cart-item-name {
                    font-size: 12px;
                }

                .plus-minus-icon {
                    width: 10px;
                }

                .counter-btn {
                    width: 30px;
                    cursor: pointer;
                }

                .trash-icon {
                    width: 20px;
                    cursor: pointer;
                }
            }
        }

        .cart-total-container {
            margin-top: 100px;

            .cart-total-title {
                font-size: 20px;
                padding: 10px 0;
            }

            .subtotal-container {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid #ccc;
            }

            .shipping-container {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid #ccc;
            }

            .grand-total-container {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid #ccc;
            }

            .checkout-btn-container {
                place-self: center;
                margin-top: 40px;

                .checkout-btn {
                    padding: 15px;
                    background-color: tomato;
                    color: #fff;
                    font-weight: bold;
                    border: 0;
                    cursor: pointer;
                }
            }
        }
    }

    @media (min-width:1000px) {
        .cart-items-inner {
            .cart-total-items-container {
                .cart-total-items-inner {
                    .cart-item-pic {
                        width: 60px;
                    }

                    .cart-item-name {
                        font-size: 18px;
                    }
                }
            }

            .cart-total-container {

                .cart-total-title {
                    font-size: 30px;
                }
            }
        }
    }
}