.food-items-container {
    .food-items-inner {
        img {
            width: 100%;
            height: 160px;
            border-radius: 10px;
        }

        .item-title {
            font-size: 15px;
            padding: 20px 0;
        }

        .item-price {
            color: tomato;
            font-size: 20px;
            font-weight: bold;
        }

        .add-to-cart-container {
            display: flex;
            position: absolute;
            padding: 5px;
            background-color: #fff;
            height: 30px;
            width: 120px;
            border-radius: 20px;
            align-items: center;
            justify-content: space-around;
            margin-top: -20px;
            cursor: pointer;

            .add-to-cart-icon {
                width: 20px;
            }

            .add-to-cart-title {
                font-size: 12px;
                color: tomato;
                font-weight: bold;
            }
        }

        .cart-quantity-container {
            display: flex;
            position: absolute;
            height: 30px;
            width: 120px;
            border-radius: 20px;
            align-items: center;
            justify-content: space-around;
            margin-top: -20px;
            background-color: tomato;

            .icon-plus-minus {
                width: 10px;
                cursor: pointer;
            }

            .item-count {
                color: #fff;
                font-weight: bold;
            }
        }
    }

    @media (min-width: 800px) {
        .food-items-inner {
            img {
                height: 200px;
            }

            .item-title {
                font-size: 20px;
            }
        }
    }
}